body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ea7b4b;
}

form {
    text-align: center;
}

button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin: 10px;
    background-color: #333; ;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}