body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

div {
    text-align: center;
    padding: 20px;
    border-radius: 15px; /* Angoli piÃ¹ stondati */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 300px;
}

p {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}

button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #ea7b4b;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #d6603c;
}