@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #303D50;
    --secondary-text-color: #506E86;
    --accent-color:#FBB141 ;
    --accent-color-dark: #BE7404;
    --padding-inline-sect: 20px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}