body{
    background-color: #3c7a4e;
}
table {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    max-width: 170vh;
    padding:5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(235, 0, 0, 0.1);
    animation: float 5s infinite;
  }



  th {
    color:#232425;
    background:#A5E2B7;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:23px;
    font-weight: normal;
    padding:20px;
    text-align:center;
    
  }

  th:first-child {
    border-top-left-radius:3px;
  }
   
  th:last-child {
    border-top-right-radius:3px;
    border-right:none;
  }
    
  tr:hover td {
    background:#82dcff80;
    color:#707070;
    border-top: 1px solid #22262e;
  }
   
  tr:first-child {
    border-top:none;
  }
  
  tr:last-child {
    border-bottom:none;
  }
   
  tr:nth-child(odd) td {
    background:#EBEBEB;
  }
   
  tr:nth-child(odd):hover td {
    background:#82dcff80;
  }
  
  tr:last-child td:first-child {
    border-bottom-left-radius:3px;
  }
   
  tr:last-child td:last-child {
    border-bottom-right-radius:3px;
  }
   
  td {
    background:#FFFFFF;
    padding:20px;
    text-align:center;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
  }
  
  td:last-child {
    border-right: 0px;
  }

.state-div{
  border-radius: 16px;
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NEW{
  background-color: #E1ABAB;
  color: #6D2929;
}

.SEEN{
  background-color: #FFEE78;
  color: #FFB800;
}

.SOLVED{
  background-color: lightgreen;
  color: #1c3e1f;
}

.hover:hover{
  cursor: pointer;
}