body{
    background-color: #3c7a4e;
}
table {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    max-width: 170vh;
    padding:5px;
    width: 100%;
  }

  th {
    color:#232425;
    background:#A5E2B7;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:23px;
    font-weight: normal;
    padding:20px;
    text-align:center;
    
  }


  th:first-child {
    border-top-left-radius:3px;
  }
   
  th:last-child {
    border-top-right-radius:3px;
    border-right:none;
  }
    
  tr:hover td {
    background:#82dcff80;
    color:#707070;
  }
   
   
  tr:nth-child(odd) td {
    background:#EBEBEB;
  }
   
  tr:nth-child(odd):hover td {
    background:#82dcff80;
  }
  
  tr:last-child td:first-child {
    border-bottom-left-radius:3px;
  }
   
  tr:last-child td:last-child {
    border-bottom-right-radius:3px;
  }
   
  td {
    background:#FFFFFF;
    padding:20px;
    text-align:center;
    font-size:18px;
    border-right: 1px solid #C1C3D1;
  }
  
  td:last-child {
    border-right: 0px;
  }

.state-div{
  border-radius: 16px;
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NEW{
  background-color: #E1ABAB;
  color: #6D2929;
}

.SEEN{
  background-color: #FFEE78;
  color: #FFB800;
}

.SOLVED{
  background-color: lightgreen;
  color: #1c3e1f;
}

.hover:hover{
  cursor: pointer;
}

#durata{
  width: 170px;
}

.container-image{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  z-index: 20;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 1000px;
  height: 600px;
  display: none;
  border-radius: 20px;
}

#close{
  border-radius: 100%;
  color: white;
  background-color: red;
  position: absolute;
  right: -2%;
  top: -4%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#close:hover{
  background-color: #6D2929;
  transition: 0.3s;
}

.obscure{
  width: 100%;
  height: 100%;
}

